In [726]:
import pandas as pd 
import numpy as np
import ast

In [727]:
data = pd.read_csv('ctg-studies (1).csv')

In [728]:
data.head(1)

,NCT Number,Study Title,Acronym,Conditions,Interventions,Sex,Age,Phases,Enrollment,Study Design,Locations
0,NCT04573062,Natural History of Post-Coronavirus Disease 19...,NaN,Post-Coronavirus Disease 19,NaN,ALL,"ADULT, OLDER_ADULT",NaN,1590.0,Observational Model: |Time Perspective: p,"National Institutes of Health Clinical Center,..."

In [729]:
data.shape

(9849, 11)

In [730]:
data['Acronym'].value_counts()

Acronym
COVID-19          123
CAR-CF             11
PROTECT             8
Covid-19            8
COVID               7
                 ...
COVIBOOSTAnci1      1
CoVAcS              1
TOF-COVID           1
DoBiC-19            1
TILIA               1
Name: count, Length: 3457, dtype: int64

In [731]:
data = data[['NCT Number','Acronym','Conditions','Interventions','Sex','Age','Phases','Locations','Enrollment']]

In [732]:
data.isnull().sum()

NCT Number          0
Acronym          6080
Conditions          0
Interventions    1423
Sex                13
Age                 0
Phases           6595
Locations         641
Enrollment         38
dtype: int64

In [733]:
data.dropna(inplace=True)

In [734]:
data.head()

,NCT Number,Acronym,Conditions,Interventions,Sex,Age,Phases,Locations,Enrollment
2,NCT04303299,FIGHT-COVID-19,SARS-COV-2 Infections|COVID-19,DRUG: Oral,ALL,"CHILD, ADULT, OLDER_ADULT",PHASE3,"Assistant Professor Subsai Kongsaengdao, Bangk...",320.0
4,NCT04932850,MAD0004J08,COVID-19 Virus Disease,BIOLOGICAL: MAD0004J08|OTHER: Placebo,ALL,ADULT,PHASE1,"Inmi 'L.Spallanzani' - Irccs, Roma, Lazio, 001...",30.0
6,NCT05305508,COVID-19,COVID-19 Virus Disease,DRUG: Calcium Dobesilate|DRUG: Mannitol,ALL,"CHILD, ADULT, OLDER_ADULT",PHASE2,Division and Department of Primary Care Medici...,74.0
15,NCT04790240,COVID,Covid19 Virus Infection,DIETARY_SUPPLEMENT: Inflammation (I)|DIETARY_S...,ALL,"CHILD, ADULT, OLDER_ADULT",PHASE1|PHASE2,"All Natural Medicine Clinic, LLC, Rockville, M...",120.0
23,NCT04449380,INTERCOP,COVID-19 Virus Infection,DRUG: Interferon-ß-1a|COMBINATION_PRODUCT: Sta...,ALL,"ADULT, OLDER_ADULT",PHASE2,"IRCCS Ospedale San Raffaele, Milano, 20132, Italy",56.0

In [735]:
data.shape

(1084, 9)

In [736]:
data = data.drop_duplicates()

In [737]:
data.iloc[0].Acronym

'FIGHT-COVID-19'

In [738]:
data['Conditions'] = data['Conditions'].apply(lambda x:x.split())

In [739]:
data.head(1)

,NCT Number,Acronym,Conditions,Interventions,Sex,Age,Phases,Locations,Enrollment
2,NCT04303299,FIGHT-COVID-19,"[SARS-COV-2, Infections|COVID-19]",DRUG: Oral,ALL,"CHILD, ADULT, OLDER_ADULT",PHASE3,"Assistant Professor Subsai Kongsaengdao, Bangk...",320.0

In [740]:
data['Locations'] = data['Locations'].apply(lambda x:x.split())

In [741]:
data['Interventions'] = data['Interventions'].apply(lambda x:x.split())

In [742]:
data['Age'] = data['Age'].apply(lambda x:x.split())

In [743]:
data = data.drop(['Sex'],axis='columns')

In [744]:

data['Conditions']=data['Conditions'].apply(lambda x:[i.replace(" ","") for i in x])

In [745]:
data['Locations'].head(1)

2    [Assistant, Professor, Subsai, Kongsaengdao,, ...
Name: Locations, dtype: object

In [746]:
data.head(1)

,NCT Number,Acronym,Conditions,Interventions,Age,Phases,Locations,Enrollment
2,NCT04303299,FIGHT-COVID-19,"[SARS-COV-2, Infections|COVID-19]","[DRUG:, Oral]","[CHILD,, ADULT,, OLDER_ADULT]",PHASE3,"[Assistant, Professor, Subsai, Kongsaengdao,, ...",320.0

In [747]:
data.shape

(1084, 8)

In [748]:
data['tags'] = data['Conditions']+data['Interventions']+data['Locations']

In [749]:
data['tags'].head(1)

2    [SARS-COV-2, Infections|COVID-19, DRUG:, Oral,...
Name: tags, dtype: object

In [750]:
new_df = data[['NCT Number','Acronym','Age','Phases','tags','Enrollment']]

In [751]:
new_df.head(1)

,NCT Number,Acronym,Age,Phases,tags,Enrollment
2,NCT04303299,FIGHT-COVID-19,"[CHILD,, ADULT,, OLDER_ADULT]",PHASE3,"[SARS-COV-2, Infections|COVID-19, DRUG:, Oral,...",320.0

In [752]:
new_df['tags'] = new_df['tags'].apply(lambda x:"".join(x))

C:\Users\KIIT\AppData\Local\Temp\ipykernel_688\2187263681.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:"".join(x))

In [753]:
import nltk

In [754]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [755]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [756]:
new_df.head()

,NCT Number,Acronym,Age,Phases,tags,Enrollment
2,NCT04303299,FIGHT-COVID-19,"[CHILD,, ADULT,, OLDER_ADULT]",PHASE3,SARS-COV-2Infections|COVID-19DRUG:OralAssistan...,320.0
4,NCT04932850,MAD0004J08,[ADULT],PHASE1,COVID-19VirusDiseaseBIOLOGICAL:MAD0004J08|OTHE...,30.0
6,NCT05305508,COVID-19,"[CHILD,, ADULT,, OLDER_ADULT]",PHASE2,COVID-19VirusDiseaseDRUG:CalciumDobesilate|DRU...,74.0
15,NCT04790240,COVID,"[CHILD,, ADULT,, OLDER_ADULT]",PHASE1|PHASE2,Covid19VirusInfectionDIETARY_SUPPLEMENT:Inflam...,120.0
23,NCT04449380,INTERCOP,"[ADULT,, OLDER_ADULT]",PHASE2,COVID-19VirusInfectionDRUG:Interferon-ß-1a|COM...,56.0

In [757]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\KIIT\AppData\Local\Temp\ipykernel_688\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [758]:
new_df.head()

,NCT Number,Acronym,Age,Phases,tags,Enrollment
2,NCT04303299,FIGHT-COVID-19,"[CHILD,, ADULT,, OLDER_ADULT]",PHASE3,sars-cov-2infections|covid-19drug:oralassistan...,320.0
4,NCT04932850,MAD0004J08,[ADULT],PHASE1,covid-19virusdiseasebiological:mad0004j08|othe...,30.0
6,NCT05305508,COVID-19,"[CHILD,, ADULT,, OLDER_ADULT]",PHASE2,covid-19virusdiseasedrug:calciumdobesilate|dru...,74.0
15,NCT04790240,COVID,"[CHILD,, ADULT,, OLDER_ADULT]",PHASE1|PHASE2,covid19virusinfectiondietary_supplement:inflam...,120.0
23,NCT04449380,INTERCOP,"[ADULT,, OLDER_ADULT]",PHASE2,covid-19virusinfectiondrug:interferon-ß-1a|com...,56.0

In [759]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [760]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [761]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [2, 0, 1, ..., 0, 0, 1]], dtype=int64)

In [762]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_688\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [763]:
new_df['tags'][2]

'sars-cov-2infections|covid-19drug:oralassistantprofessorsubsaikongsaengdao,bangkok,10400,thailand'

In [764]:
from sklearn.metrics.pairwise import cosine_similarity

In [765]:
similarity = cosine_similarity(vector)

In [790]:
def recommend(Disease):
    Disease_index = new_df[new_df['Acronym'] == Disease].index[0]
    distances = similarity[Disease_index]
    Disease_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in Disease_list:
        print(new_df.iloc[i[0]].Acronym)
        print(new_df.iloc[i[0]].Enrollment)

In [791]:
recommend('FIGHT-COVID-19')

COVID-HEP
160.0
#StayHome
800.0
PaTS-COVID
1200.0
CanCovDia
116.0
CORONACION
2414.0

In [792]:
recommend('MAD0004J08')

COMBAT-19
50.0
DEFI-VID19
50.0
reCoVery
0.0
MANTICO
319.0
LIFESAVER
29.0