In [117]:
import pandas as pd 
import numpy as np

In [118]:
data = pd.read_csv('ctg-studies (1).csv')

In [119]:
data.head(1)

,NCT Number,Study Title,Acronym,Conditions,Interventions,Sex,Age,Phases,Enrollment,Study Design,Locations
0,NCT04573062,Natural History of Post-Coronavirus Disease 19...,NaN,Post-Coronavirus Disease 19,NaN,ALL,"ADULT, OLDER_ADULT",NaN,1590.0,Observational Model: |Time Perspective: p,"National Institutes of Health Clinical Center,..."

In [120]:
data.shape

(9849, 11)

In [121]:
data['Acronym'].value_counts()

Acronym
COVID-19          123
CAR-CF             11
PROTECT             8
Covid-19            8
COVID               7
                 ...
COVIBOOSTAnci1      1
CoVAcS              1
TOF-COVID           1
DoBiC-19            1
TILIA               1
Name: count, Length: 3457, dtype: int64

In [122]:
data = data[['NCT Number','Acronym','Conditions','Interventions','Sex','Age','Phases','Locations','Enrollment']]

In [123]:
data.isnull().sum()

NCT Number          0
Acronym          6080
Conditions          0
Interventions    1423
Sex                13
Age                 0
Phases           6595
Locations         641
Enrollment         38
dtype: int64

In [124]:
data.dropna(inplace=True)

In [125]:
data.head()

,NCT Number,Acronym,Conditions,Interventions,Sex,Age,Phases,Locations,Enrollment
2,NCT04303299,FIGHT-COVID-19,SARS-COV-2 Infections|COVID-19,DRUG: Oral,ALL,"CHILD, ADULT, OLDER_ADULT",PHASE3,"Assistant Professor Subsai Kongsaengdao, Bangk...",320.0
4,NCT04932850,MAD0004J08,COVID-19 Virus Disease,BIOLOGICAL: MAD0004J08|OTHER: Placebo,ALL,ADULT,PHASE1,"Inmi 'L.Spallanzani' - Irccs, Roma, Lazio, 001...",30.0
6,NCT05305508,COVID-19,COVID-19 Virus Disease,DRUG: Calcium Dobesilate|DRUG: Mannitol,ALL,"CHILD, ADULT, OLDER_ADULT",PHASE2,Division and Department of Primary Care Medici...,74.0
15,NCT04790240,COVID,Covid19 Virus Infection,DIETARY_SUPPLEMENT: Inflammation (I)|DIETARY_S...,ALL,"CHILD, ADULT, OLDER_ADULT",PHASE1|PHASE2,"All Natural Medicine Clinic, LLC, Rockville, M...",120.0
23,NCT04449380,INTERCOP,COVID-19 Virus Infection,DRUG: Interferon-ß-1a|COMBINATION_PRODUCT: Sta...,ALL,"ADULT, OLDER_ADULT",PHASE2,"IRCCS Ospedale San Raffaele, Milano, 20132, Italy",56.0

In [126]:
data.shape

(1084, 9)

In [127]:
data = data.drop_duplicates()

In [128]:
data.iloc[0].Acronym

'FIGHT-COVID-19'

In [129]:
data['Conditions'] = data['Conditions'].apply(lambda x:x.split())

In [130]:
data.head(1)

,NCT Number,Acronym,Conditions,Interventions,Sex,Age,Phases,Locations,Enrollment
2,NCT04303299,FIGHT-COVID-19,"[SARS-COV-2, Infections|COVID-19]",DRUG: Oral,ALL,"CHILD, ADULT, OLDER_ADULT",PHASE3,"Assistant Professor Subsai Kongsaengdao, Bangk...",320.0

In [131]:
data['Locations'] = data['Locations'].apply(lambda x:x.split())

In [132]:
data['Interventions'] = data['Interventions'].apply(lambda x:x.split())

In [133]:
data['Age'] = data['Age'].apply(lambda x:x.split())

In [134]:
data = data.drop(['Sex'],axis='columns')

In [135]:

data['Conditions']=data['Conditions'].apply(lambda x:[i.replace(" ","") for i in x])

In [136]:
data['Locations'].head(1)

2    [Assistant, Professor, Subsai, Kongsaengdao,, ...
Name: Locations, dtype: object

In [137]:
data.head(1)

,NCT Number,Acronym,Conditions,Interventions,Age,Phases,Locations,Enrollment
2,NCT04303299,FIGHT-COVID-19,"[SARS-COV-2, Infections|COVID-19]","[DRUG:, Oral]","[CHILD,, ADULT,, OLDER_ADULT]",PHASE3,"[Assistant, Professor, Subsai, Kongsaengdao,, ...",320.0

In [138]:
data.shape

(1084, 8)

In [139]:
data['tags'] = data['Conditions']+data['Interventions']+data['Locations']

In [140]:
data['tags'].head(1)

2    [SARS-COV-2, Infections|COVID-19, DRUG:, Oral,...
Name: tags, dtype: object

In [141]:
new_df = data[['NCT Number','Acronym','Age','Phases','tags','Enrollment']]

In [142]:
new_df.head(1)

,NCT Number,Acronym,Age,Phases,tags,Enrollment
2,NCT04303299,FIGHT-COVID-19,"[CHILD,, ADULT,, OLDER_ADULT]",PHASE3,"[SARS-COV-2, Infections|COVID-19, DRUG:, Oral,...",320.0

In [143]:
new_df['tags'] = new_df['tags'].apply(lambda x:"".join(x))

C:\Users\KIIT\AppData\Local\Temp\ipykernel_12308\2187263681.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:"".join(x))

In [144]:
import nltk

In [145]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [146]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [147]:
new_df.head()

,NCT Number,Acronym,Age,Phases,tags,Enrollment
2,NCT04303299,FIGHT-COVID-19,"[CHILD,, ADULT,, OLDER_ADULT]",PHASE3,SARS-COV-2Infections|COVID-19DRUG:OralAssistan...,320.0
4,NCT04932850,MAD0004J08,[ADULT],PHASE1,COVID-19VirusDiseaseBIOLOGICAL:MAD0004J08|OTHE...,30.0
6,NCT05305508,COVID-19,"[CHILD,, ADULT,, OLDER_ADULT]",PHASE2,COVID-19VirusDiseaseDRUG:CalciumDobesilate|DRU...,74.0
15,NCT04790240,COVID,"[CHILD,, ADULT,, OLDER_ADULT]",PHASE1|PHASE2,Covid19VirusInfectionDIETARY_SUPPLEMENT:Inflam...,120.0
23,NCT04449380,INTERCOP,"[ADULT,, OLDER_ADULT]",PHASE2,COVID-19VirusInfectionDRUG:Interferon-ß-1a|COM...,56.0

In [148]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\KIIT\AppData\Local\Temp\ipykernel_12308\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [149]:
new_df.head()

,NCT Number,Acronym,Age,Phases,tags,Enrollment
2,NCT04303299,FIGHT-COVID-19,"[CHILD,, ADULT,, OLDER_ADULT]",PHASE3,sars-cov-2infections|covid-19drug:oralassistan...,320.0
4,NCT04932850,MAD0004J08,[ADULT],PHASE1,covid-19virusdiseasebiological:mad0004j08|othe...,30.0
6,NCT05305508,COVID-19,"[CHILD,, ADULT,, OLDER_ADULT]",PHASE2,covid-19virusdiseasedrug:calciumdobesilate|dru...,74.0
15,NCT04790240,COVID,"[CHILD,, ADULT,, OLDER_ADULT]",PHASE1|PHASE2,covid19virusinfectiondietary_supplement:inflam...,120.0
23,NCT04449380,INTERCOP,"[ADULT,, OLDER_ADULT]",PHASE2,covid-19virusinfectiondrug:interferon-ß-1a|com...,56.0

In [150]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [151]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [152]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [2, 0, 1, ..., 0, 0, 1]], dtype=int64)

In [153]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_12308\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [154]:
new_df['tags'][2]

'sars-cov-2infections|covid-19drug:oralassistantprofessorsubsaikongsaengdao,bangkok,10400,thailand'

In [155]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import mean_squared_error, r2_score

In [156]:
similarity = cosine_similarity(vector)

In [157]:
actual_enrollment = new_df['Enrollment']

In [158]:
actual_enrollment.head()

2     320.0
4      30.0
6      74.0
15    120.0
23     56.0
Name: Enrollment, dtype: float64

In [159]:
def predict(Disease):
    Disease_index = new_df[new_df['Acronym'] == Disease].index[0]
    distances = similarity[Disease_index]
    Disease_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    recommended_enrollments = []
    for i in Disease_list:
        recommended_disease = new_df.iloc[i[0]].Acronym
        recommended_enrollment = new_df.iloc[i[0]].Enrollment
        recommended_enrollments.append(recommended_enrollment)
        print(f"Recommended Disease: {recommended_disease}")
        print(f"Recommended Enrollment: {recommended_enrollment}")

In [160]:
Disease = "FIGHT-COVID-19"

In [161]:
predict(Disease)

Recommended Disease: COVID-HEP
Recommended Enrollment: 160.0
Recommended Disease: #StayHome
Recommended Enrollment: 800.0
Recommended Disease: PaTS-COVID
Recommended Enrollment: 1200.0
Recommended Disease: CanCovDia
Recommended Enrollment: 116.0
Recommended Disease: CORONACION
Recommended Enrollment: 2414.0

In [97]:
recommend('MAD0004J08')

Recommended Disease: COMBAT-19
Recommended Enrollment: 50.0
Recommended Disease: DEFI-VID19
Recommended Enrollment: 50.0
Recommended Disease: reCoVery
Recommended Enrollment: 0.0
Recommended Disease: MANTICO
Recommended Enrollment: 319.0
Recommended Disease: LIFESAVER
Recommended Enrollment: 29.0

In [98]:
def calculate_rmse(actual_enrollment, recommended_enrollments):
    rmse = np.sqrt(mean_squared_error(actual_enrollment,recommended_enrollments))
    return rmse

In [99]:
recommended_enrollments=[]
for i in range(6):
    recommended_enrollments.append(new_df['Enrollment'].iloc[i] + 30)
  
actual_enrollments = new_df['Enrollment'][0:6]
recommended_enrollments

[350.0, 60.0, 104.0, 150.0, 86.0, 230.0]

In [100]:
rmse_value = calculate_rmse(actual_enrollments, recommended_enrollments)

In [101]:
rmse_value

30.0